In [9]:
!pip install pandas_profiling

#if error, try installed first in folder anaconda3

Requirement already satisfied: pandas_profiling in c:\users\3330218\anaconda3\lib\site-packages (3.1.0)
Requirement already satisfied: scipy>=1.4.1 in c:\users\3330218\anaconda3\lib\site-packages (from pandas_profiling) (1.6.2)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in c:\users\3330218\anaconda3\lib\site-packages (from pandas_profiling) (0.1.0)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\3330218\anaconda3\lib\site-packages (from pandas_profiling) (3.3.4)
Requirement already satisfied: markupsafe~=2.0.1 in c:\users\3330218\anaconda3\lib\site-packages (from pandas_profiling) (2.0.1)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\3330218\anaconda3\lib\site-packages (from pandas_profiling) (0.1.12)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\3330218\anaconda3\lib\site-packages (from pandas_profiling) (0.11.1)
Requirement already satisfied: multimethod>=1.4 in c:\users\3330218\anaconda3\lib\site-packages (from pandas_profiling) (1.6)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\3330218\anaconda3\lib\site-packages (from pandas_profiling) (5.4.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\3330218\anaconda3\lib\site-packages (from pandas_profiling) (1.2.4)
Requirement already satisfied: missingno>=0.4.2 in c:\users\3330218\anaconda3\lib\site-packages (from pandas_profiling) (0.5.0)
Requirement already satisfied: numpy>=1.16.0 in c:\users\3330218\anaconda3\lib\site-packages (from pandas_profiling) (1.20.1)
Requirement already satisfied: visions[type_image_path]==0.7.4 in c:\users\3330218\anaconda3\lib\site-packages (from pandas_profiling) (0.7.4)
Requirement already satisfied: requests>=2.24.0 in c:\users\3330218\anaconda3\lib\site-packages (from pandas_profiling) (2.25.1)
Requirement already satisfied: phik>=0.11.1 in c:\users\3330218\anaconda3\lib\site-packages (from pandas_profiling) (0.12.0)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\3330218\anaconda3\lib\site-packages (from pandas_profiling) (4.59.0)
Requirement already satisfied: joblib~=1.0.1 in c:\users\3330218\anaconda3\lib\site-packages (from pandas_profiling) (1.0.1)
Requirement already satisfied: pydantic>=1.8.1 in c:\users\3330218\anaconda3\lib\site-packages (from pandas_profiling) (1.8.2)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\3330218\anaconda3\lib\site-packages (from pandas_profiling) (2.11.3)
Requirement already satisfied: attrs>=19.3.0 in c:\users\3330218\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (20.3.0)
Requirement already satisfied: networkx>=2.4 in c:\users\3330218\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (2.5)
Requirement already satisfied: imagehash in c:\users\3330218\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (4.2.1)
Requirement already satisfied: Pillow in c:\users\3330218\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (8.2.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\3330218\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\3330218\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\3330218\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\3330218\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (2.4.7)
Requirement already satisfied: six in c:\users\3330218\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.2.0->pandas_profiling) (1.15.0)
Requirement already satisfied: decorator>=4.3.0 in c:\users\3330218\anaconda3\lib\site-packages (from networkx>=2.4->visions[type_image_path]==0.7.4->pandas_profiling) (5.0.6)
Requirement already satisfied: pytz>=2017.3 in c:\users\3330218\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2021.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\3330218\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas_profiling) (3.7.4.3)
Requirement already satisfied: idna<3,>=2.5 in c:\users\3330218\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\3330218\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\3330218\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\3330218\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (2020.12.5)
Requirement already satisfied: PyWavelets in c:\users\3330218\anaconda3\lib\site-packages (from imagehash->visions[type_image_path]==0.7.4->pandas_profiling) (1.1.1)

In [11]:
!pip install flask

Requirement already satisfied: flask in c:\users\3330218\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: click>=5.1 in c:\users\3330218\anaconda3\lib\site-packages (from flask) (7.1.2)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\3330218\anaconda3\lib\site-packages (from flask) (2.11.3)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\3330218\anaconda3\lib\site-packages (from flask) (1.1.0)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\3330218\anaconda3\lib\site-packages (from flask) (1.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\3330218\anaconda3\lib\site-packages (from Jinja2>=2.10.1->flask) (2.0.1)

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas_profiling
import pickle
%matplotlib inline

In [6]:
data=pd.read_csv('data\Placement_Data_Full_Class.csv')
data.drop("sl_no",axis=1,inplace=True)

In [7]:
data.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [8]:
print("Data shape:" +str(data.shape))
print(data.info())

Data shape:(215, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gender          215 non-null    object
 1   ssc_p           215 non-null    float64
 2   ssc_b           215 non-null    object
 3   hsc_p           215 non-null    float64
 4   hsc_b           215 non-null    object
 5   hsc_s           215 non-null    object
 6   degree_p        215 non-null    float64
 7   degree_t        215 non-null    object
 8   workex          215 non-null    object
 9   etest_p         215 non-null    float64
 10  specialisation  215 non-null    object
 11  mba_p           215 non-null    float64
 12  status          215 non-null    object
 13  salary          148 non-null    float64
dtypes: float64(6), object(8)
memory usage: 23.6+ KB
None

In [ ]:
report=data.profile_re